{% extends "template.html" %}
{% block content %}
Привет.
<br>
Функционал пока пилится.
<br>
Можете посмотреть список ТС или посетить наш форум. Навигация наверху^
<br>
Замечания и пожелания можете оставить на форуме или написать мне <a href="mailto:random@alpha-legion.pro">на почту</a>
<br>
Спасибо за внимание.
<br>
<br>
<br>
Hi!
<br>
This project is still WIP.
<br>
You can visit out forums and check TS list. 
<br>
If you have any questions or feedback, please <a href="mailto:random@alpha-legion.pro">email me</a>
<br>
Thanks.
<br><br>
<p>
	<h3><b>Новости</b></h3>
</p>

<b>21.05.2015</b>
<ul style="list-style-type:disc">
	<li>Работа над проектом возобновлена...Наверное.
</ul>
<br>
<b>04.12.2014</b>
<ul style="list-style-type:disc">
	<li>Добавлены новости проекта (дублируются с форума или на форум, смотря куда я их добавлю в первую очередь)</li>
	<li>Добавлена ссылка Submit Data с формой для ввода html страницы с базовой статистикой (пока не работает)</li>
	<li>Добавлен прогресс бар, который показывает насколько готов сайт</li>
	<li>Теперь используется последняя версия boostrap- 3.3.1</li>
	<li>Начата работа по внедрению парсера статистики</li>
</ul>
<br>
<b>03.12.2014</b>
<ul style="list-style-type:disc">
	<li>Теперь везде используется bootstrap</li>
	<li>Наверх добавлена навигационная строка</li>
</ul>

<br>
<b>02.12.2014</b>
<ul style="list-style-type:disc">
	<li>Работа над проектом возобновлена</li>
	<li>Проект доступен по ссылке http://legi0n.pythonanywhere.com</li>
</ul>

{% endblock %}