{% extends "template.html" %}
{% block content %}

Профиль <h4>
{% if session.logged_in %} {{username}}{% endif %}
</h4>
<br>
Это ваш профиль.
<br>
Скоро здесь будет ваша персональная статистика.
<br>
Например:
{% for stat in stat_on_page %}
<p>
  Киллы: {{ stat.kills }}<br>
  Смерти: {{ stat.deaths }}<br>
  Победы: {{ stat.wins }}<br>
  Поражения: {{ stat.losses }}<br>
  Деньги: {{ stat.cbills }}<br>
</p>
{% endfor %}
<br>
<br>
<br>
<br>
Хотите заслать данные? 
<br>Вам <a href='/stat_submit'>сюда.</a>
<br>
<p>
<p>
{% endblock %}