{% extends "template.html" %}
{% block content %}
<p>Привет.</p>
Сюда нужно скопировать html-код вашей страницы с базовой статистикой. Подробная инструкция с картинками будет позже.

<br>
<h3>Put your stats page html code here:</h3>
    <form class="form-signin" role="form" method="post" action="">
    	<textarea name = "base_stats" placeholder="Please enter your stats page html code here" rows="10" cols="100"></textarea>
    	<br>
    	<button class="btn btn-sm btn-success" type="submit">Submit Data</button>
    </form>




{% endblock %}