{% extends "template.html" %}
{% block content %}
<p>Привет.</p>
Сюда нужно скопировать вашу статистику из профиля с офсайта. Подробная инструкция с картинками будет позже. 

<br>
<h3>Стату вставлять сюда:</h3>
    <form class="form-signin" role="form" method="post" action="">
    	<textarea name = "base_stats" placeholder="Можете ничего не копировать, оно один хуй не работает и неизвестно когда заработает" rows="10" cols="100"></textarea>
    	<br>
    	<button class="btn btn-sm btn-success" type="submit">Заслать</button>
    </form>




{% endblock %}