{% extends "template.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="http://team.alpha-legion.pro/d3pie.min.js"></script>
<p>Статистика юнита.</p>
Статистика захардкожена, это всего лишь пример того, что может быть, а может и не быть, потому что:
<br>
<li>энтузиазма ни у кого нет</li>
<li>дизайнеров нет</li>
<li>кодеров всего один, да и тот ни хуя не хочет и мало что умеет</li>
<br>


{% if session.logged_in %}
<h3>Общая статистика</h3>
<li>Побед: <b> {{ total_wins }} </b> </li>
<li>Поражений: <b> {{ total_losses }} </b> </li>
<li>Убийств: <b> {{ total_kills }} </b> </li>
<li>Смертей: <b> {{ total_deaths }} </b> </li>
<li>Золото: <b> {{ total_cbills }} </b> </li>
{% endif %}
<div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-4">
			<h3>Top kills</h3>
			<li>crazybuck</li>
			<li>drunkblackstar</li>
			<li>KRMZ</li>
	      </div>
		  <div class="col-md-4">
			<h3>Top Wins</h3>
			<li>crazybuck</li>
			<li>KRMZ</li>
			<li>drunkblackstar</li>
		  </div>
		  <div class="col-md-4">
			<h3>Top jew</h3>
			<li>crazybuck</li>
			<li>drunkblackstar</li>
			<li>HaMaT</li>
		  </div>
	    </div>
	  </div>
	</div>

<br>




<br>


<div id="pieChart"></div>


<script>
var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Kills",
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"text": "Статистика по киллам",
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		
		"pieOuterRadius": "75%"
	},
	"data": {
		"sortOrder": "value-desc",
		"smallSegmentGrouping": {
			"enabled": true
		},
		"content": [
			{
				"label": "crazybuck",
				"value": 15000,
				"color": "#2383c1"
			},
			{
				"label": "drunkblackstar",
				"value": 5369,
				"color": "#7b6788"
			},
			{
				"label": "KRMZ",
				"value": 5018,
				"color": "#64a61f"
			},
			{
				"label": "HaMaT",
				"value": 3057,
				"color": "#a05c56"
			},
			{
				"label": "Darksiski",
				"value": 2978,
				"color": "#961919"
			},
			{
				"label": "Favilla",
				"value": 2073,
				"color": "#e98125"
			},
			{
				"label": "Serj99",
				"value": 1740,
				"color": "#d8d239"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>


<div id="pieChart"></div>
<script>
var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Wins",
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"text": "Статистика по победам",
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"pieOuterRadius": "75%"
	},
	"data": {
		"sortOrder": "value-desc",
		"smallSegmentGrouping": {
			"enabled": true
		},
		"content": [
			{
				"label": "crazybuck",
				"value": 7260,
				"color": "#2383c1"
			},
			{
				"label": "KRMZ",
				"value": 3168,
				"color": "#64a61f"
			},
			{
				"label": "drunkblackstar",
				"value": 2824,
				"color": "#7b6788"
			},
			{
				"label": "Darksiski",
				"value": 2038,
				"color": "#961919"
			},
			{
				"label": "Serj99",
				"value": 1658,
				"color": "#d8d239"
			},
			{
				"label": "HaMaT",
				"value": 1615,
				"color": "#a05c56"
			},
			{
				"label": "Favilla",
				"value": 1464,
				"color": "#e98125"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>

<h3><center>Статистика за неделю</center></h3>

<br>

<div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-3">
			<h4>Нагнули больше всех</h4>
			<ol>
			<li>crazybuck - 210</li>
			<li>Darksiski - 75</li>
			<li>Serj99 - 49</li>
		</ol>
	      </div>
		  <div class="col-md-3">
			<h4>Слились больше всех</h4>
			<ol>
			<li>crazybuck - 69</li>
			<li>Serj99 - 36</li>
			<li>Darksiski - 35</li>
		</ol>
		  </div>
		  <div class="col-md-3">
			<h4>Заработали больше всех</h4>
			<ol>
			<li>crazybuck - ?</li>
			<li>KRMZ - 11686630</li>
			<li>Serj99 - 6756044</li>
		</ol>
		  </div>
		  <div class="col-md-3">
			<h4>Потратили больше всех</h4>
			<ol>
			<li>Darksiski - 27531522</li>
			<li>human404 - 3507291</li>
			<li>EmeraldRU - 1571547</li>
			

		</ol>
		  </div>
	    </div>
	  </div>
	</div>
<br>
<p>



<div class="row">
  <div class="col-md-3">
  	<div id="Kills"></div>
	<script>
	var pie = new d3pie("Kills", {
	"header": {
		"title": {
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasHeight": 200,
		"canvasWidth": 250,
		"pieOuterRadius": "40%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"label": "crazybuck",
				"value": 210,
				"color": "#2383c1"
			},
			{
				"label": "Darksiski",
				"value": 75,
				"color": "#64a61f"
			},
			{
				"label": "Serj99",
				"value": 49,
				"color": "#7b6788"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 6
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label}: {value}, {percentage}%"
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
}	);
</script>
	</div>
  <div class="col-md-3">

<div id="Deaths"></div>
<script>
var pie = new d3pie("Deaths", {
	"header": {
		"title": {
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasHeight": 200,
		"canvasWidth": 250,
		"pieOuterRadius": "40%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"label": "crazybuck",
				"value": 69,
				"color": "#2383c1"
			},
			{
				"label": "Serj99",
				"value": 36,
				"color": "#64a61f"
			},
			{
				"label": "Darksiski",
				"value": 35,
				"color": "#7b6788"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 6
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label}: {value}, {percentage}%"
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>

  </div>
  <div class="col-md-3">

<div id="Earnings"></div>
<script>
var pie = new d3pie("Earnings", {
	"header": {
		"title": {
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasHeight": 200,
		"canvasWidth": 250,
		"pieOuterRadius": "40%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"label": "crazybuck",
				"value": 20000000,
				"color": "#2383c1"
			},
			{
				"label": "KRMZ",
				"value": 11686630,
				"color": "#64a61f"
			},
			{
				"label": "Serj99",
				"value": 6756044,
				"color": "#7b6788"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 6
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label}: {value}, {percentage}%"
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>

  </div>
  <div class="col-md-3">

<div id="Spendings"></div>
<script>
var pie = new d3pie("Spendings", {
	"header": {
		"title": {
			"fontSize": 24,
			"font": "open sans"
		},
		"subtitle": {
			"color": "#999999",
			"fontSize": 12,
			"font": "open sans"
		},
		"titleSubtitlePadding": 9
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasHeight": 200,
		"canvasWidth": 250,
		"pieOuterRadius": "40%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"label": "Darksiski",
				"value": 27531522,
				"color": "#2383c1"
			},
			{
				"label": "human404",
				"value": 3507291,
				"color": "#64a61f"
			},
			{
				"label": "EmeraldRU",
				"value": 1571547,
				"color": "#7b6788"
			}
		]
	},
	"labels": {
		"outer": {
			"format": "label-value2",
			"pieDistance": 6
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
	"tooltips": {
		"enabled": true,
		"type": "placeholder",
		"string": "{label}: {value}, {percentage}%"
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>

  </div>
</div>



</body>
</html>




{% endblock %}