{% extends "template.html" %}
{% block content %}
<p>Статистика юнита.</p>
Статистика захардкожена, это всего лишь пример того, что может быть, а может и не быть, потому что:
<br>
<li>энтузиазма ни у кого нет</li>
<li>дизайнеров нет</li>
<li>кодеров всего один, да и тот ни хуя не хочет и мало что умеет</li>
<br>

<h3>Общая статистика</h3>
<li>Побед: 38040</li>
<li>Поражений: 21463</li>
<li>Убийств: 21854</li>
<li>Смертей: 14530</li>
<li>Золото: 1329055593 </li>

<div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-4">
			<h3>Top kills</h3>
			<li>crazybuck</li>
			<li>drunkblackstar</li>
			<li>KRMZ</li>
	      </div>
		  <div class="col-md-4">
			<h3>Top Wins</h3>
			<li>crazybuck</li>
			<li>KRMZ</li>
			<li>drunkblackstar</li>
		  </div>
		  <div class="col-md-4">
			<h3>Top jew</h3>
			<li>crazybuck</li>
			<li>drunkblackstar</li>
			<li>HaMaT</li>
		  </div>
	    </div>
	  </div>
	</div>

<br>
<br>

<h3><center>Статистика за неделю</center></h3>

<div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-3">
			<h4>Нагнули больше всех</h4>
			<ol>
			<li>crazybuck - 210</li>
			<li>Darksiski - 75</li>
			<li>Serj99 - 49</li>
		</ol>
	      </div>
		  <div class="col-md-3">
			<h4>Слились больше всех</h4>
			<ol>
			<li>crazybuck - 69</li>
			<li>Serj99 - 36</li>
			<li>Darksiski - 35</li>
		</ol>
		  </div>
		  <div class="col-md-3">
			<h4>Заработали больше всех</h4>
			<ol>
			<li>crazybuck - ?</li>
			<li>KRMZ - 11686630</li>
			<li>Serj99 - 6756044</li>
		</ol>
		  </div>
		  <div class="col-md-3">
			<h4>Потратили больше всех</h4>
			<ol>
			<li>Darksiski - 27531522</li>
			<li>human404 - 3507291</li>
			<li>EmeraldRU - 1571547</li>
		</ol>
		  </div>
	    </div>
	  </div>
	</div>



{% endblock %}